<style>
  #img{
    width: 100px;
    height: 100px;
  }
</style>


<div class="container">
  <h1>Cart</h1>     
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>게임</th>
        <th>가격</th>
        <th></th>
      </tr>
    </thead>
    {% for g in list %}
    <tbody>
        <td><img src="/img/{{g.img}}" id ="img"></td>
        <td><br>{{g.gameName}}</td>
        <td><br>{{g.price}}</td>
        <td><br><a href="/cart/deleteimpl?name={{g.gameName}}" class="btn btn-info">delete</a></td>
    </tbody>
    {% endfor %}
  </table>
  <a href="/block" class="btn btn-info" role="button">buy</a>
</div>

