<style>
  #img{
    width: 100px;
    height: 100px;
  }
</style>


<div class="container">
  <h1>CartMgt</h1>     
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>userid</th>
        <th>게임</th>
        <th>가격</th>
      </tr>
    </thead>
    {% for g in list %}
    <tbody>
        <td><img src="/img/{{g.img}}" id ="img"></td>
        <td><br>{{g.userid}}</td>
        <td><br>{{g.gameName}}</td>
        <td><br>{{g.price}}</td>
    </tbody>
    {% endfor %}
  </table>
</div>
