<script>
  let web3;

  function connect(){
      web3 = new Web3(
        new Web3.providers.HttpProvider("http://210.119.34.115:7545")
      );

      if (web3.isConnected()) {
        console.log("connected");
      } else {
        console.log("not connected");
      }

  };

  function get(){
      let accounts = web3.eth.accounts;
      console.log(accounts);
      let result = '';
      for(var i in accounts){
        let balance = web3
                      .fromWei(web3.eth.getBalance(accounts[i]))
                      .toNumber() + "ETH";
        result += '<tr>';
        result += '<td>'+accounts[i]+'</td>';
        result += '<td>'+balance+'</td>';
        result += '</tr>';
      }
      $('#acc_info').html(result);
  };

  $(document).ready(function(){
    connect();
    get();
  });
</script>

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <h1>Block Page</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Account</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody id="acc_info">
              <!-- <tr>
                <td>12121212121</td>
                <td>100 ETH</td>
              </tr> -->
          </tbody>
        </table>
      </div>
    </div>
</div>