<style>
    #item_img{
        
        height: 150px;
    }
</style>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid">
                <section class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            {% for  i in glist %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <a href="/gamedetail?id={{i.id}}"><img class="card-img-top" id = "item_img" src="/img/{{i.img}}"/></a>
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{i.name}}</h5>
                                                <!-- Product price-->
                                                {{i.price}}eth
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

