<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/style.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        
        <!-- web3.js를 script에 추가하였다. -->
        <script type="text/javascript" src="/js/bignumber.min.js"></script>
        <script type="text/javascript" src="/js/web3.js"></script>

        

    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">games</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Home</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/chart">Chart</a>
                    {% if loginid %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/lib?userid={{loginid}}">Library</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cart?id={{loginid}}">Cart</a>
                    {% endif %}

                    {% if loginid == 'admin' %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/deal">deal</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/userdetail">User Mgt</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/glistmgt">Game Mgt</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cartmgt">Cart Mgt</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/blockmgt">Acc</a>
                    {% endif %}
                    
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {% if loginid %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                                <a class="nav-link" href="/detail?id={{loginid}}">{{loginid}}</a>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% else %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% endif %}
                <!-- Page content-->
                <div class="container-fluid">
                    {% if centerpage %}
                        {% include centerpage+".html" %}
                    {% else %}
                        {% include "center.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
